/*
# SETTINGS
*/

@font-face {
  font-family: 'Sinews Sans Pro';
  src: local('Sinews Sans Pro Medium Italic'), local('Sinews-Sans-Pro-Medium-Italic'),
      url('SinewsSansPro-MediumItalic.woff2') format('woff2'),
      url('SinewsSansPro-MediumItalic.woff') format('woff'),
      url('SinewsSansPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/*
# Navbar
*/

#mainNav{
  background-color: rgb(220, 220, 220);
  padding: 0px;
}

.nav-item{
  text-align: right;
}

#mainNav .navbar-nav .nav-item .nav-link:hover{
  color:  rgb(0, 157, 255); 
}

#mainNav .navbar-toggler{
  font-size: 12px;
  margin-right: 5px;
  right: 0;
  padding: 12px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: rgb(89, 194, 255);  
}

#mainNav .navbar-nav .nav-item .nav-link{
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 20px;
  letter-spacing: 1px;
  color: black;  
  transition: all .5s;
}

#navbarResponsive {
  transition: height 1.5s ease;
}

/*
# Home Video Section
*/
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  filter: opacity(50%);
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#myVidText{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sinews Sans Pro';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

#myVidText .content{
  position: relative;
}

#myVidText .content1 img{
  position: absolute;  
  transform: translate(-80%, -110%);
  width: 260px;
  height: 62px;  
  
}

#myVidText .content h1{
  position: absolute;  
  transform: translate(-50%,-50%);
  font-size: 6em;
}

#myVidText .content h1:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4; 
}

#myVidText .content h1:nth-child(2){
  color: #03a9f4; 
  animation: animate 4s ease-in-out infinite; 
}

@keyframes animate{
  0%, 100%{
    clip-path: polygon(0 52%, 16% 54%, 33% 66%, 51% 71%, 74% 71%, 100% 61%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0 63%, 15% 67%, 35% 69%, 57% 66%, 81% 51%, 100% 52%, 100% 100%, 0% 100%);
  }
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(113, 210, 255);
  opacity: 0.5;
  z-index: 1;
}

.page-image-statement{
  height: 50vh;
  background: linear-gradient(rgba(20, 20, 20, .8),rgba(20, 20, 20, .5)),url("../img/statement.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-image h1{
  transform: translateY(23vh);  
  font-family: 'Satisfy', cursive;
  color: white;
  text-align: center;
}

.carousel-item img{
  filter: brightness(75%);  
}

#ourBrands{
  margin-left: auto;  
  padding: 50px;
  background-color: #f6f7f8;
}

#popularYachts{
  background-color: #f6f7f8;
  padding: 20px;
}

#popularYachts .col-md-12 hr{
  background-color: gray;
  width: 50px;  
}

#popularYachts .col-md-12 h2{
  color: #393e4b;
}

#hatteras61Sec .project-text{
  padding: 15px;
  font-family: 'Glory', sans-serif;
  font-size: 17px;  
}

#hatteras61Sec .project-text h2{
  color: #393e4b!important;
  font-family: 'Playfair Display', serif;
}

#hatteras61Sec .project-text hr{
  background-color: #393e4b!important;
}

#hatteras61Sec .col-md-6{
  background-color: #d9f7ff;
}

.page-image-askusimg{
  height: 30vh;
  background: linear-gradient(rgba(0, 54, 90, 0.4),rgba(0, 54, 90, 0.4)),url("../img/askusBG.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-image-askusimg h1{
  transform: translateY(6vh);   
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.page-image-askusimg p{
  transform: translateY(6vh);   
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.btn-main{
  text-transform: uppercase;
  transform: translateY(7vh);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;  
  padding: 8px 28px;
  border-radius: 50px;  
  border: 2px solid rgb(1, 225, 255);
  color: #fff;
  transition: all .5s;   
}

.btn-main:hover{
  background: rgb(1, 225, 255);
  border: 2px solid rgb(1, 225, 255);
  color: #fff;
}

@media (max-width: 768px) {

  .page-image h1 {
    transform: translateY(8vh);     
  }

  header{
    height: 80vh;
  }

  #myVidText .content1 img{
    position: absolute;  
    transform: translate(-80%, -200%);
    width: 220px;
    height: 53px;  
    
  }

  #myVidText .content h1{
    position: absolute;  
    transform: translate(-50%,-100%);
    font-size: 5em;
  }

  #ourBrands .col-md-4{
    text-align: center;
    margin-left: 0px;    
    padding: 10px;
  }

  #ourBrands .col-md-4 img{
    width: 200px;
    height: 50px;
  }

  #ourBrands .col-md-4 .imgDominator{      
    margin-top: 30px; 
  }  

  #ourBrands .col-md-4 .imgAnvera{
    width: 200px;
    height: 10px;   
    margin-top: 30px; 
  }    
  
  .page-image-askusimg h1{
    transform: translateY(5vh); 
  }

  .page-image-askusimg p{
    transform: translateY(5vh); 
  }

  .btn-main{
    transform: translateY(5vh); 
  }

}